[submodule "src/motley_cue"]
	path = src/motley_cue
	url = git@github.com:dianagudu/motley_cue.git
[submodule "src/feudalAdapterLdf"]
	path = src/feudalAdapterLdf
	url = git@git.scc.kit.edu:feudal/feudalAdapterLdf.git
	branch = ldap
