[submodule "src/motley_cue"]
	path = src/motley_cue
	url = git@github.com:dianagudu/motley_cue.git
	branch = prerel
[submodule "src/feudalAdapterLdf"]
	path = src/feudalAdapterLdf
	url = git@codebase.helmholtz.cloud:m-team/feudal/feudalAdapterLdf.git
